<nav>
    <ul class="menu">
        <li class="logo">
            <a href="#">Madras Coder</a>
        </li>
        <li class="toggle"><a href="#"><i onclick="toggleMenu(this)" class="toggle-menu fas fa-bars fa-2x"></i></a></li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">Articles</a></li>
        <li class="item"><a href="#">Tutorials</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item">
            <a href="#"><i onclick="toggleDarkMode(this)" class="fas fa-moon"></i></a>
        </li>
    </ul>
</nav>