<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
    {% include navigation.html %}
    <main class="tutorial-content">
        <img src="{{ page.image | relative_url }}" title="{{ page.title }}" />
        <p>{{ page.date }}</p>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}</p>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/scripts.js' | relative_url }}"></script>
</body>

</html>